/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/*******GENERAL STYLING*******/

*{
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
}

body{
  font-family: 'Nanum Myeongjo', serif;
  background: #121212;
  color: #dedede;
}

h1{
  font-family: 'Nanum Gothic', sans-serif;
  color: #d6d6d6;
  text-align: center;
  
}

h3{
  font-size: 1.25em;
}
img{
  width:90%;
}
.content-wrapper{
display: flex;
justify-content: center;
align-items: center;
width: 90%;
}

.button {
  background: #292929;
  border: #B557BA 3px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 15px;
  text-transform: uppercase;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.button:hover{
  transition: .5s;

}


/*******NAV STYLING:Mobile*******/

.navbar {
  display: flex;
  padding: 8px 12px;
  background: #121212;
  flex-direction: column;
  padding: 8px 24px;
}
 a{
   text-decoration: none;
   color: #B557BA;
 }
/* Logo with text */
.navbar-logo {
  font-size: 1.875em;
  color: RGBA(168,213,203);
}

.navbar-logo a{
  font-size: .70em;
  color:#999;
}

.navbar-logo i {
  color:RGBA(168,213,203);
  font-size: .6em;
}

/* Menu */
.navbar-menu {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.navbar-menu li {
  padding: 8px 12px;
}

.navbar-menu a {
  /* Fill in an entire line so that user can click on any space */
  display: block;
}

.navbar-menu li:hover {
  background-color: #BB64C0;
  color:#fff;
  border-radius: 4px;
}

.navbar-icons {
  list-style: none;
  color:RGB(168,213,203);
  display: none;
  justify-content: center;
  padding-left: 0;
}

/* Icons */
.navbar-icons li {
  padding: 8px 12px;
  border-radius: 50%;
  margin: 0 10px;
}

/* Toggle button */
.navbar-togglebtn {
  display: block;
  position: absolute;
  right: 32px;
  font-size: 24px;
}



  /* When toggle button is clicked - active state */
  .navbar-menu.active,
  .navbar-icons.active {
    display: flex;
  }


/*HERO-AREA mobile styling*/
#hero-area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
#hero-area .content-wrapper{
  flex-direction: column;
  background: #292929;
  padding: 50px 0;
  border-radius: 10px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));

}
#hero-area figure{
  width: 70%;
}
figure img{
  width: 100%;
  border-radius:30% 70% 60% 40% / 30% 38% 62% 70% ;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.9));
}

.about-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
 }
 .dr{
   color: #B557BA;
 }


/*SKILLS mobile styling*/
#skill-area{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
 
}

#skill-area article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 70%;
  margin: 30px 0 ;
  border-radius: 5px;
  padding: 20px 15px;
  background:url(../img/sprinkles-d1.png);
  background-position: center;
  background-size: cover;
  
}
#skill-area h3{
  font-size: 23px;
  text-align: center;
}
#skill-area p{
  margin: 0;
  }

  #skill-area .skill-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features-item-description{
  text-align: center;
}

.fontawesome-icon {
text-align: center;
}

#skill-area i {
	font-size: 2.5em;
  margin-bottom: 20px;
}


/*PUBLICATION mobile styling*/

#pub-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pub-list{
  border: #292929 solid 1 px;
  background:#292929;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 20px 15px;
  width: 90%;
}
.pub-list article{
  margin: 20px 0;
}
h4{
  color: #903d94;
  margin-bottom:15px ;
}
.pub-list p{
  font-size: .875em;
}

.pub-accent{
  color:#a3a3a3;
  margin-top: 10px;
}
 


/*Connect mobile styling*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
 footer h3{
   margin:20px 0;
 }
footer p{
  margin: 0;
}

footer .content-wrapper{
  width: 55%;
  margin: 50px 0;

}

 footer .contact{
  margin-bottom: 50px;

}

footer .social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #b38af5;
  padding-top: 3px;
  width: 40px;
  height:40px;
}
footer .social-icons p i{
  font-size: 1.75em;
  color: #292929;
}


footer .copyright{
  margin: 20px 0;

}



/*FOOTER mobile styling*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
  @media only screen and (min-width: 768px){
    /*Tablet styles here*/

    /*NAV styles here*/
    .navbar {
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      flex-flow: row nowrap;
    }
  
    /* Logo with text */
    .navbar-logo {
      font-size: 24px;
      color: RGBA(168,213,203);
    }
  
    .navbar__logo i {
      color:RGBA(168,213,203);
    }
  /* Menu */
  .navbar-menu {
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    flex-direction: row;
    width: 30%;
  }

  .navbar-menu li {
    padding: 8px 12px;

  }



  .navbar-icons {
    list-style: none;
    color:RGB(168,213,203);
    display: flex;
    padding-left: 0;
    font-size: 1.5em;
  }

  /* Icons */
  .navbar-icons li {
    padding: 8px 12px;
  }

  /* Toggle button */
  .navbar-togglebtn {
    display: none;


  }
   .content-wrapper{
     margin:4.6875em 0;
   }


    p{
      font-size: 2vmin;
    }


    /*HERO styles here*/
    #hero-area{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    #hero-area .content-wrapper{
      justify-content: space-around;
      flex-flow: row nowrap;
      width: 90%;

    }

    #hero-area figure{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-top:20px ;
    }
    #hero-area img{
      width: 70%;
    }
   
    .about-text{
      width:50%;
    }


    .about-text p{
      margin-bottom: 20px;
    }

    /*SKILLS styles here*/
    #skill-area article {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      width: 33.333%;
      margin: 30px;
    }
    
    #skill-area .skill-item-description {
      width: 50%;
    }
    
    
    /*PUBS styles here*/
    footer .content-wrapper{
      margin:20px 0;
    }
    .pub-list{
     align-items: flex-start;
    }

    .pub-list h3{
      align-self: center;
    }

  

  footer h3{
    margin: 0;
  }

   footer .copyright{
    margin: 0;
  }
  }



  @media only screen and (min-width: 1200px){
    /*Desktop styles here*/


    nav ul{
      margin-right:40px;

    }
    nav li{
      display: inline-block;
      margin:0 8px;
      line-height: 80px;
    }



    #hero-area .content-wrapper{
      padding: 50px 0;
    }

    #hero-area figure{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #hero-area img{
      width: 62%;
    }

  .about-text{
    width: 40%;
  }

  .about-text p{
    font-size: 1.125em;
  }

  #skill-area article {
    width: 35%;
    margin: 50px;
  }

  .pub-list{
    padding: 20px 25px;
  }

  }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
